h1 { 
    color: rgb(175, 6, 6);
    background: rgb(red, rgb(201, 143, 143), blue)
}
p{color: rgb(226, 49, 49 );
}
body{
    background-image: url(th.jpg);
    background-repeat: no-repeat;
background-size: 100%;
}
span{
    background:
    width:100%;
    border: 2px solid blue 
    padding : 10%:
    margin : 0px 0px 600px 500px

}